.auth_header h5{
    background-color: #1a237e;
    color: white;
    padding: 10px 20px;
    font-size: 25 px;
    text-align: center;
}

.auth_form{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.auth_bottom{
    text-align: center;
    padding: 10px 20px;
    color: #eeeeee;
    font-weight: 700;
}